body {
   --color-primary: #2C394B;
   --color-primary-dark: #082032;
   --color-secondary: #6262FB;
   --color-light: #fff;
   --border-radius: 24px;

   margin: 0;
   height: 100vh;
   align-items: center;
   justify-content: center;
   font-size: 1rem;
   font: 500 1rem 'Mulish', sans-serif;
   background: url(/components/images/backgroundelixir.png);
   background: contain;
   background-attachment: fixed;
   background-size: 125rem;
   background-repeat: no-repeat;
}

#hero {
    margin-top: none;
    margin-bottom: none;
    padding: 40px 40px 30px;
    background-color: var(--color-light);
}

#hero .hero--logo {
    width: 215px;
    height: 215px;
    float: right;
    margin-right: 60px;
}

#hero h1 {
    margin: 0;
    font-size: 3.2em;
}

#hero .left {
    width: 39%;
    display: inline-block;
    vertical-align: top;
}


#hero .right {
    transition: ease 2s;
    width: 61%;
    vertical-align: top;
    float: right;
}

h1, h2, strong {
    color: var(--color-primary-dark);
}

p {
    word-spacing: 0.05em;
}

#hero .inner {
    max-width: 1260px;
    margin: 0 auto;
}

#hero .hero--button{
    margin: 1em 0;
    font-size: 1.05em;
    font-weight: 600;
    letter-spacing: 0.1em;
    min-width: 8em;
    text-align: center;
}

a.hero--button {
    color: var(--color-primary);
    padding: 0.75em 2em;
    border-radius: var(--border-radius);
    display: inline-block;
    transition: all 0.15s ease;
    box-sizing: border-box;
    border: 1px solid var(--color-primary);
    text-decoration: none;
}

button.hero--button {
    background-color: var(--color-light);
    color: var(--color-primary);
    padding: 0.75em 2em;
    border-radius: var(--border-radius);
    display: inline-block;
    transition: all 0.15s ease;
    box-sizing: border-box;
    border: 1px solid var(--color-primary);
    text-decoration: none;
}

.icon {
    position: absolute;
    left: 0.4em;
    top: 0.4em;
    width: 2em;
}

.social--button {
    text-decoration: none;
    color: var(--color-primary);
}

/* hover and active */

#youtube:hover {
    color: var(--color-secondary);
}

#twitter:hover {
    color: var(--color-secondary);
}

#discord:hover {
    color: var(--color-secondary);
}

#socials:hover {
    border: 1px solid var(--color-secondary);
}

.hero--button:active {
    transform: scale(0.95);
}

#git {
    background-color: var(--color-primary);
    color: var(--color-light);
}

#git:hover {
    background-color: var(--color-secondary);
    border-color: var(--color-secondary);
}

#docs:hover {
    border-color: var(--color-secondary);
    color: var(--color-secondary);
}

/* bottom part */

#bottom {
    color: var(--color-light);
    text-align: center;
    padding-bottom: 30px;
}

.infobox {
    box-shadow: 0 5px 25px 0 rgba(0,0,0,.2);
    transition: ease 2s;
    background-color: var(--color-light);
    border-radius: var(--border-radius);
    height: 43vh;
    max-height: 165vh;
    width: 650px;
    max-width: 650px;
    padding: 2rem;
    align-items: center;
    justify-content: center;
    display: inline-block;
    margin-top: 4rem;
}

.infobox-col-left {
    display: block;
    float: left;
    font-size: 1rem;
    padding-top: 0.25px;
    width: 50%;
    background-color: transparent;
    padding: 0.25px;
    color: var(--color-primary-dark);
}

.infobox--top_circle {
    display: inline-flex;
    padding-right: 7rem;
    margin: 0;
    width: 0%;
    vertical-align: top;
}

#bookmark {
    cursor: pointer;
    height: 3rem;
    outline: none;
    color: var(--color-primary-dark);
    border: none;
    background-color: var(--color-light);
    transition: all 0.15s ease;
}


#bookmark:hover {
    height: 5rem;
    background-color: var(--color-primary-dark);
    color: var(--color-light);
}

.infobox p {
    text-align: justify;
    margin-bottom: 40px;
}

.infobox--button {
    font-size: 0.85rem;
    text-decoration: none;
    color: var(--color-light);
    border-radius: var(--border-radius);
    outline: none;
    background-color: var(--color-primary);
    box-sizing: border-box;
    border: 1px solid var(--color-primary);
    padding: 0.75em 2em;
    cursor: pointer;
    transition: all 0.15s ease;
}

.infobox--right {
    font-size: 1rem;
    vertical-align: text-top;
    padding-top: 1px;
    padding: 1px;
    color: var(--color-primary-dark);
}

.right--title {
    color: var(--color-secondary);
    font: bold 1.3em 'Mulish', sans-serif;
    text-align: center;
    align-self: center;
    vertical-align: text-top;
}


#elixirtitle {
    font: bold;
    font-size: 1.2rem;
}

.infobox--button:hover {
    background-color: var(--color-secondary);
    border: 1px solid var(--color-secondary);
}

.infobox--button:active {
    transform: scale(0.95);
}

.hidden {
    display: none;
}

/* footer */

.footer--container {
    background-color: var(--color-light);
    position: fixed;
    left: 0;
    bottom: 0;
    height: fit-content;
    width: 100%;
    color: var(--color-primary);
    text-align: center;
}

@media (max-width: 900px), (max-height: 700px) {
    .footer--container {
        transform: scaleX(0.15s);
        display: none;
    }
}

@media (max-width: 900px), (max-height: 700px) {
    .infobox {
        margin-top: 0.5rem;
    }
}
